body {
  font-family: sans-serif;
}

html {
  height: 100%;
  background-image: linear-gradient(to bottom right, white, #8ae1b3);
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: pink;
}
.navbar a:hover {
  color: white;
}

a:visited {
  color: pink;
}

label {
  display: block;
}

p {
  color: #ef4d96;
}

h1 {
  color: #ef4d96;
}

h3 {
  color: #ef4d96;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header {
  margin-bottom: 0px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  background-image: linear-gradient(to left, #8ae1b3, #00b6b0);
}

.cart {
  margin-left: auto;
}

.categories {
  display: flex;
  justify-content: space-evenly;
}

.categories img {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  border: 1px solid pink;
  border-radius: 4px;
  padding: 5px;
}

.cookieCategory:hover {
  opacity: 0.5;
  transition: all 0.4s ease;
}

.cookieCategory {
  display: flex;
  flex-direction: column;
}

.brownieCategory:hover {
  opacity: 0.5;
  transition: all 0.2s ease;
}
.brownieCategory {
  display: flex;
  flex-direction: column;
}

.singleBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.singleBox img {
  width: 400px;
  height: 400px;
  border-radius: 20%;
  border: 1px solid pink;
  border-radius: 8px;
  padding: 5px;
}

.allViewImg img {
  width: 300px;
  height: 300px;
  border-radius: 20%;
}

.staticBox img {
  width: 500px;
  height: 500px;
}

.dessertBox {
  width: 400px;
  height: 400px;
  text-align: center;
  padding: 20px;
}

.dessertBox:hover {
  opacity: 0.5;
}

.allView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.staticBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantityBox {
  display: flex;
  flex-direction: row;
}

.smallImg img {
  width: 50px;
  height: 50px;
  border-radius: 80%;
}
