<!DOCTYPE html>

<div id="cartBox">
    <div id="orderSummary">
        <div>
            <!-- Will need to map over cookies in order for this section below -->
            <form>

                <label for="cookieQuantity">Quantity</label>
                <br>
                <!-- Will need to change value to cookie quantity figure from map function -->
                <input type="number" id="cookieQuantity" name="cookieQuantity" value="22">
            </form>>
        </div>
        <div>
            <p>Cookie Name</p>
        </div>
        <div>
            <p>Cookie Price</p>
        </div>
    </div>
    <div id="orderTotal">
        <p>Order Total</p>
    </div>
    <div>
        <button id="confirmButton" onclick=handlesubmit>Submit</button>
    </div>
</div>