<!DOCTYPE html>

<!-- Note: will most likely combine these html elements with the JSX in user-home.js -->

<div id="homepageBox">
    <!-- See navbar.js for reference of what will show up above -->
    <div id="aboutUs">
        <div>
            <p>Welcome Message</p>
        </div>
        <div><img src="tbd" alt="tbd" /></div>
    </div>
    <div id="cookieList">
        <!-- Remember to map over all cookies in this section in JSX -->
        <div id="singleCookie">
            <div>
                <h3>Cookie Title</h3>
            </div>
            <div><img src="tbd" alt="tbd" /></div>
        </div>
    </div>
</div>